nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
}
.navText{
    color: #262626;
    padding: 20px 20px 0 0;
    font-size: 2vw;
}
.navText p{
    padding: 10px;
    border: 1px solid #262626;
    background: #f2f2f2;
    cursor: pointer;
}
.navBurger{
    width: 100%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    background: #262626;
    color: red;
    scroll-snap-stop: inherit;
    align-items: center;
    justify-content: center;
}
.navBurger a{
    color: white;
    font-size: 5vmax;
}
.navBurger a:nth-child(1){
    cursor: pointer;
}