@font-face {
    font-family: 'Stretch Pro';
    src: url('StretchProRegular.eot');
    src: url('StretchProRegular.eot?#iefix') format('embedded-opentype'),
        url('StretchProRegular.woff2') format('woff2'),
        url('StretchProRegular.woff') format('woff'),
        url('StretchProRegular.ttf') format('truetype'),
        url('StretchProRegular.svg#StretchProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

